.rank {
  width: 80%;
  margin: auto;

  &__title {
    color: dodgerblue;
    font-size: 24px;
    padding: 10px 0px;
    border-bottom:  1px solid black;
    text-align: center;
  }

  &-table {
    margin: auto;

    &__words {
      max-width: 200px;
    }

    &__score {
      width: 50px;
    }
    &__date {
      width: 80px;
    }

    th, td {
      text-align: left;
      padding: 10px 15px;
    }

    th {
      background-color: dodgerblue;
      color: white;
    }

    td {
      background-color: #f5f5f5;
      font-size: 14px;
    }

    tr:hover {
      opacity: 0.8;
    }
  }
}