.score {
    width: 300px;
    //border: 1px solid black;
    
    &-table {
        width: 100%;

        th, td {
            text-align: left;
            padding: 6px 10px;
            border: 1px solid black;
        }

        td {
          font-size: 14px;
        }

        &__word {
            width: 70%;
        }
    }

}