.board {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    height: 400px;
    border: 1px solid black;

    &__row {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        &-item {
            height: 80px;
            width: 80px;
            line-height: 80px;
            font-size: 20px;
            text-align: center;
        }
    }
}