.home {
  width: 80%;
  margin: auto;

  &__title {
    color: DodgerBlue;
    font-size: 24px;
    padding: 10px 0px;
    border-bottom: 1px solid black;
  }

  &__description h2 {
    font-size: 20px;
    color: Dodgerblue;
  }

  &__description p {
    text-align: justify;
  }
}

.read-more {
  color: royalblue;
}
