.submit {
    display: flex;
    width: 80%;
    margin: 10px 10px;
    justify-content: center;

    &__input {
        width: 60%;
        padding: 12px 20px;
        border: 1px solid #C5C5C5;
        box-sizing: border-box;
    }
    
    &__button {
        width: 80px;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        background-color: DodgerBlue;
        color: white;
    }

    &__button:hover {
      background-color: RoyalBlue;
      box-shadow: 2px 2px 2px #C5C5C5;
    }
}