.header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &__title {
        font-size: 20px;
        font-style: italic;
        color: DodgerBlue;
        font-weight: bolder;
        text-shadow: 2px 2px 2px #C5C5C5;
        margin: 0 auto;
    }

    &__nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &__nav-item {
      float: left;
      margin: 0px 10px;
    }
}

.btn {
  display: block;
  border: none;
  background-color: DodgerBlue;
  padding: 16px 16px; 
  color: white;
  border-radius: 50%;
  height: 20px;
  box-shadow: 2px 2px 2px #C5C5C5;
}

.btn:hover {
  background-color: RoyalBlue;
}